node_modules
.git
.next
.docker
.podman
.kube
components/Navigation/schemas
components/Navigation/sections
components/examples
pages/*
!pages/.gitignore
!pages/components
!pages/components/*
!pages/contributing
!pages/contributing/*
!pages/guides
!pages/guides/*
!pages/_app.tsx
!pages/index.tsx
!pages/_document.tsx
