{
    {$CADDY_TLS_MODE}
    auto_https disable_redirects
}


:9000 {
    metrics /metrics
}
  
:8000 {
    {$CADDY_TLS_CERT}
    log

    handle /platform-docs/* {
        reverse_proxy localhost:3000
    }

    handle /platform-docs {
        reverse_proxy localhost:3000
    }

}
